:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bcg-color: #2f303a;
  --sec-bcg-color: #f5f4fa;
  --black-color: #000000;
  --rgba-opacity-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

ul {
  list-style: none;
}

/* Шапка сайта */
.header {
  background-color: var(--white-color);
}

.logo,
.logo-item {
  color: var(--black-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;  
}

.logo-item {
  color: var(--accent-color);
}

.nav-list,
.contacts-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list .link {
  color: var(--title-text-color);
  text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

.nav-list .link.current {
  color: var(--accent-color);
}


.contacts-list .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
}

/* Секция Герой */

.hero {
  background-color: var(--primary-bcg-color);
}

.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.button {
  color: var(--white-color);
  background-color: var(--accent-color);

  font-family: inherit
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

/* Секция с преимуществами */

.features .list-title {
  color: var(--title-text-color);

  font-weight: 700;
  line-height: 1.43;
  text-transform: uppercase;
}

.features .list-text {
  color: var(--primary-text-color);

  font-weight: 400;
  line-height: 1.71;
}

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Секция с членами команды */

.members {
  background-color: var(--sec-bcg-color);
}

.members .list-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.members .list-text {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

/* Футер */
.footer {
  background-color: var(--primary-bcg-color);
}

.footer .logo {
  color: var(--white-color);
}


address {
  color: var(--white-color);

  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.footer .contacts-link {
  color: var(--rgba-opacity-color);

  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
}

.footer .contacts-link:hover,
.footer .contacts-link:focus {
  color: var(--accent-color);
}

.filter button {
  color: var(--title-text-color);
  background-color: var(--sec-bcg-color);

  font-family: inherit
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.filter button:hover,
.filter button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.works-list {
  background-color: var(--white-color);
}

.works-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-list .text {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.works-list a {
  text-decoration: none;
}
